@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


:root {


    --color-primary: #8267a7;
    --color-secondary: #9c5aa5;
    --color-success: #A61F5E;

    --color-dark: #4503a2;
    --color-light: #ae8bd0;


    --font-primary: "Lora", seriff;


    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;

    --fw-regular: 400;
    --fw-bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary);
    font-size: var(--text-base);
    line-height: 1.5;
    background: var(--color-light);
    color: var(--color-dark);
}


h1 {
    font-size: var(--text-xl);
    font-weight: var(--fw-bold);
}

p {
    font-size: var(--text-base);
    font-weight: var(--fw-regular);
}








.header{
    background: var(--color-primary);
    padding: 20px;
    color: black;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 20px;
}

.header__link:hover {
    color: black;
}

.layout {
    display: flex;
    gap: 20px;
    padding: 20px;
}


.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.section {
    display: flex;
    gap: 20px;
}

.aside {
    flex: 1;
    align-self: stretch;
    background: var(--color-secondary);
    padding: 20px;
    border-radius: 8px;
}

.aside__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}